/*
*************
    RESET
*************
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
input,
label {
    line-height: 1.1;
}

img {
    max-width: 100%;
    display: block;
}

/*
******************
    TYPOGRAPHY
******************
*/

body {
    font-family:
        system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

/*
**********************
    PROJECT STYLES
**********************
*/

body {
    min-width: 320px;
}
